{% extends 'base.html.twig' %}

{% block title %}Symfony E-Shop - Modifier mot de passe{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7 mx-auto">
            {% if notification %}
                <div class="alert alert-warning text-center" role="alert">
                    {{ notification }}
                </div>
            {% endif %}
            <h1 class="text-center">Modifier le mot de passe</h1>
            {{ form(form) }}
        </div>
    </div>    
{% endblock %}
