{% extends 'admin.html.twig' %}

{% block title %}Symfony E-Shop - Categories{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7 mx-auto mb-5">
            {% if message1 is defined %}
                <h1 class="text-center">{{ message1 }}</h1>
            {% endif %}
            {% if message2 is defined %}
                <h1 class="text-center">{{ message2 }} {{ category.name }}</h1>
            {% endif %}
            
            {{ form(form) }}
        </div>
    </div>
{% endblock %}