{% extends 'base.html.twig' %}

{% block title %}Symfony E-Shop - Inscription{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7 mx-auto">
            <h1 class="text-center">Inscription</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
